.wrapper {
  display: grid;
  grid-template-columns: 264px 1fr;
  gap: 0;
  align-items: start;
  --headerHeight: 48px;
}
.mobileNavWrapper {
  display: none;
  align-items: center;
  padding: 12px 0px;
  background: var(--Base-White);
  position: fixed;
  z-index: 100;
  top: var(--navHeight);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: 1px solid var(--Blue-100);
  height: var(--headerHeight);
}
.mobileNavWrapper.active {
  background: var(--Blue-50);
}

.mobileNavHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 90%;
  margin: 0 auto;
}
.arrowButton {
  color: var(--Primitive-400);
}
.sidebarButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowButton {
  margin-left: auto;
  font-size: 14px;
}
.mobileNavWrapper.active .navHeading,
.mobileNavWrapper.active .arrowButton {
  color: var(--Blue-500);
}

.outlet {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 64px;
  width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0px 32px;
  padding-top: 24px;
  padding-bottom: 32px;
  border-left: 1px solid var(--Primitive-200);
  border-right: 1px solid var(--Primitive-200);
}

@media only screen and (max-width: 1199px) {
  .wrapper {
    grid-template-columns: 1fr;
    padding-top: var(--headerHeight);
  }

  .mobileNavWrapper {
    display: flex;
  }

  .outlet {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 520px) {
  .wrapper {
    width: 100%;
  }
  .mobileNavWrapper {
    width: 100%;
    padding: 12px 16px;
  }
  .mobileNavHeader {
    width: 100%;
  }
  .outlet {
    padding: 0;
    padding: 16px;
    padding-bottom: 32px;
    border: none;
  }
}
