.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 10px;
  width: 100%;
}
.wrapper2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.valueAndButton {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px 10px;
}
.label {
  flex-shrink: 0;
  flex-basis: 100px;
  white-space: nowrap;
}
.wrapper2 .valueAndButton {
  flex: 0 1 auto;
}

.icon {
  max-width: 16px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.buttonContainer .button:hover {
  transform: none;
}
.buttonContainer .cancelButton {
  border-radius: 0;
  border-bottom-left-radius: 8px;

  transform: none;
}
.buttonContainer .saveButton,
.buttonContainer .verifyButton,
.buttonContainer .continueButton {
  border-radius: 0;
  border-bottom-right-radius: 8px;
}
.buttonContainer .okayButton {
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.arrow {
  font-size: 12px;
  display: block;
  transform: translateY(1px);
}
