.mainModal,
.modal {
  --modalMinHeight: 250px;
  min-height: var(--modalMinHeight);
  --modalHeaderHeight: 46px;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  position: relative;

  flex: 1;
}

.container {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--Primitive-50);

  position: relative;
  min-width: 0;
}

@media only screen and (max-width: 767px) {
  .mainModal,
  .modal {
    transform: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 16px;
  }
}
