.wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;

  border-radius: 8px;
  border: 1px solid var(--Blue-200);
  background: var(--Base-White);

  /* drop-shadow/sm */
  box-shadow: 0px 2px 8px -2px rgba(3, 7, 18, 0.12),
    0px 1px 4px -2px rgba(3, 7, 18, 0.12);
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.wantToCreateAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.signUp {
  color: var(--Blue-500);
  font-weight: 500;
  font-size: 14px;
  line-height: 142.86%;
}
.bold {
  font-weight: 700;
}
