.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* position: relative; */
  /* overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - var(--navHeight)); */
} /* Hide scrollbar for Chrome, Safari and Opera */

.container {
  border-left: 1px solid var(--Blue-100);
  border-right: 1px solid var(--Blue-100);
  background-color: var(--Base-White);
  position: relative;
  width: 100%;
  min-width: 0;
}

.header {
  border-bottom: 1px solid var(--Blue-100);
  background: var(--Base-White);
  padding: 12px 32px;

  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  z-index: 1;
  top: var(--navHeight);
  gap: 8px;
  height: var(--headerHeight);
  width: calc(100% - 1px);
  margin: 0 auto;
}
.breadCram {
  display: flex;
  align-items: center;
  gap: 4px;
}

.intermediateSegment,
.separator {
  font-size: 14px;
  color: var(--Primitive-500);
  line-height: 142.86%;
  text-transform: capitalize;
}
.capitalize {
  text-transform: capitalize;
}
.sidebarIcon {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 20px;
  width: 100%;
  cursor: pointer;
}
.outlet {
  padding: 24px 32px;
  min-width: 0;
  width: 100%;
}
.noPadding {
  padding: 0;
}
.cancelButton {
  color: var(--Primitive-400);
}
@media only screen and (max-width: 1199px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
  .sidebarIcon {
    display: flex;
  }
}
@media only screen and (max-width: 991px) {
  .outlet {
    padding: 24px;
  }
  .noPadding {
    padding: 0;
  }
  .header {
    padding: 12px 24px;
  }
}
@media only screen and (max-width: 520px) {
  .wrapper {
    grid-template-columns: 1fr;
    width: 100%;
    background-image: radial-gradient(var(--Primitive-200) 5%, transparent 5%);
    background-size: 20px 20px;
  }

  .container {
    background-image: none;
    background-color: transparent;

    margin: 0 auto;
  }
  .outlet {
    padding: 16px 16px;
  }
  .noPadding {
    padding: 0;
  }
  .header {
    padding: 12px 16px;
    height: var(--headerHeight);
  }
  .container {
    border: none;
  }
}
