.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--Blue-200);
  border-bottom: none;
  background: var(--Base-White);

  /* drop-shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(3, 7, 18, 0.06),
    0px 1px 1px 0px rgba(3, 7, 18, 0.04);
}
.createDeployment.button {
  border-radius: none;
  border-radius: 0 0 8px 8px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 12px;
  width: 100%;
}
@media only screen and (max-width: 520px) {
  .formContainer {
    gap: 16px;
    padding: 16px;
  }
}
