.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 10px;
}
.label {
  flex: 1;
  white-space: nowrap;
}
.icon {
  max-width: 16px;
  width: 100%;
}
.button {
  margin-left: auto;
  display: block;
}
