.wrapper,
.mainWrapper {
  padding-left: 0;
  padding-right: 0;
}
.heading {
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 64px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--Blue-100);
  border-bottom: 1px solid var(--Blue-100);
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 64px;

  background: var(--Base-white);
}

.step {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.points {
  list-style-type: disc;
  padding-left: 20px;
}
.point::marker {
  color: var(--Primitive-600);
}
.imgContainer {
  padding: 48px 64px 0 64px;
  border-left: 1px solid var(--Blue-100);
  border-right: 1px solid var(--Blue-100);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.img {
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .imgContainer {
    padding: 48px 48px 0 48px;
    border: none;
  }
  .heading {
    padding: 0px 48px;
  }
  .steps {
    padding: 48px 48px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .imgContainer {
    padding: 48px 32px 0 32px;
    border: none;
  }
  .heading {
    padding: 0px 32px;
  }
  .steps {
    padding: 48px 32px;
  }
}
@media only screen and (max-width: 520px) {
  .wrapper,
  .mainWrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .heading {
    padding: 0px 16px;
  }
  .steps {
    padding: 24px 16px;
  }
  .imgContainer {
    padding: 16px;
    padding-bottom: 0;
  }
}
