.wrapper {
  max-width: 840px;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.heading,
.mainHeading {
  max-width: 540px;
  width: 100%;
}
.mainContainer {
  display: grid;
  grid-template-columns: 1fr 180px;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 0;
}
@media only screen and (max-width: 1199px) {
  .mainContainer {
    gap: 24px;
    grid-template-columns: 1fr;
  }
  .nav,
  .myNav {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    gap: 40px;
  }
}
@media only screen and (max-width: 520px) {
  .wrapper {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
