.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  width: 100%;

  margin: 0 auto;
  width: 100%;
}
.header2 {
  gap: 4px;
}
.center {
  align-items: center;
}
