.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.token {
  border-radius: 4px;
  background: var(--Primitive-100);
  padding: 2px 4px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.buttonContainer .button:hover {
  transform: none;
}
.buttonContainer .cancelButton {
  border-radius: 0;
  border-bottom-left-radius: 8px;

  transform: none;
}

.buttonContainer .deleteButton {
  border-radius: 0;
  border-bottom-right-radius: 8px;
  background: #eb4521;
  color: var(--Primitive-0);
  border-bottom: 2px solid #d7310d;
}
