.inputWrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;

  gap: 6px;
}

.input.myInput {
  background: var(--Base-White);
}
.createButton {
  width: auto;
}
.tokens {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media only screen and (max-width: 520px) {
}
