.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
}
.heading {
  padding-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.searchInput {
  max-width: 220px;
}
.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.filterBy {
  white-space: nowrap;
}

.status {
  padding: 2px 8px;
  border-radius: 4px;
  width: max-content;
}
.status.succesfull {
  color: var(--Green);
  background: rgba(51, 191, 119, 0.1);
}
.status.error {
  color: var(--Error);
  background: var(--Error-10);
}

@media only screen and (max-width: 520px) {
  .filterBy {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
  }
  .searchInput {
    max-width: 100%;
  }
}
