.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.buttonContainer .button:hover {
  transform: none;
}
.buttonContainer .cancelButton {
  border-radius: 0;
  border-bottom-left-radius: 8px;

  transform: none;
}

.buttonContainer .verifyButton {
  border-radius: 0;
  border-bottom-right-radius: 8px;
}
