.modalOverlay {
  background: rgba(17, 24, 39, 0.2);
  border-bottom-right-radius: 8px;
  backdrop-filter: blur(2px);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 200;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: fixed;
  left: calc(50%);
  top: calc(50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;

  z-index: 201;

  /* my */
  margin: 0 auto;

  max-height: calc(95vh - 92px);

  height: max-content;
  overflow-y: auto;

  overflow: auto;
  border-radius: 8px;
  background: var(--Base-White);
  box-shadow: 0px -40px 64px -16px rgba(0, 0, 0, 0.2);
  max-width: 312px;

  width: 95%;
  overflow-x: hidden;
}

.modal > * {
  width: 100%;
}

.modalOverlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    width: 90%;
  }
}
