.wrapper {
  display: grid;
  grid-template-columns: 1fr 220px;
  gap: 12px;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 1280px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
