.wrapper,
.mainWrapper {
  background-color: var(--Base-White);
  gap: 40px;
}
.header,
.mainHeader {
  max-width: 500px;
}
.allNews {
  max-width: 640px;
  margin: 0 auto;
}
.news {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0;
  border-top: 1px solid var(--Primitive-200);
}
.news:last-child {
  border-bottom: 1px solid var(--Primitive-200);
}
.allNews .button {
  margin: 0 auto;
  font-size: 15px;
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 520px) {
  .wrapper,
  .mainWrapper {
    gap: 32px;
  }
}
