.wrapper.mainWrapper {
  border-top: 1px solid var(--Blue-100);
  border-bottom: 1px solid var(--Blue-100);
  gap: 40px;
  background: var(--Primitive-50);
}
.header.mainHeader {
  max-width: 536px;
  align-items: flex-start;
  margin: 0;
}
@media only screen and (max-width: 520px) {
  .wrapper.mainWrapper {
    gap: 32px;
  }
}
