@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inconsolata:wght@200..900&display=swap");
:root {
  /* new news */
  --Primitive-0: #ffffff;
  --Primitive-10: rgba(255, 255, 255, 0.1);
  --Primitive-50: #f9fafb;
  --Primitive-100: #f3f4f6;
  --Primitive-200: #e5e7eb;
  --Primitive-250: #f6f7f9;
  --Primitive-300: #d1d5db;
  --Primitive-400: #9ca3af;

  --Primitive-500: #6b7280;

  --Primitive-600: #4b5563;

  --Primitive-700: #374151;
  --Primitive-800: #1f2937;
  --Primitive-900: #111827;
  --Base-White: #fff;
  --Blue-10: rgba(57, 129, 248, 0.1);

  --Blue-50: #eff6ff;
  --Blue-100: #dbeafe;
  --Blue-200: #bedbff;
  --Blue-300: #92c5fe;

  --Blue-500: #3981f8;
  --Blue-600: #2b68ee;
  --Green: #33bf77;
  --Green-10: rgba(51, 191, 119, 0.1);
  --Green-20: rgba(51, 191, 119, 0.2);
  --Error: #de5254;

  --Warning: #f8a030;
  --Purple: #d672cb;
  --Purple-10: rgba(247, 122, 232, 0.1);
  --Warning-10: rgba(248, 160, 48, 0.1);
  --Error-10: rgba(222, 82, 84, 0.1);
  --navHeight: 60px;
  --headerHeight: 60px;
}
@media only screen and (max-width: 520px) {
  :root {
    --headerHeight: 48px;
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--Primitive-0);
  white-space: normal;
  overflow-x: hidden;
  overflow-x: hidden;
}

button {
  font: inherit;
  transition: 0.3s;
  outline: none;
  border: none;
  background: transparent;

  transition: 0.3s;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
button:hover {
  transform: translateY(-3px);
}
p {
  font-style: normal;
}
.container {
  max-width: 1199px;
  width: 90%;
  margin: 0 auto;
}

.highlight {
  color: var(--Primitive-Default);
  font-weight: 500;
}
.spaceFromTop {
  padding-top: 95px;
}
.font-instrument {
  font-family: "Instrument Serif";
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.6px;
}
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Primitive-400);
  border-radius: 4px;
}
.overflow {
  scrollbar-width: thin;
  scrollbar-color: var(--Primitive-400) rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}

/* Chrome, Edge, and Safari browsers */
.overflow::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
}
.overflow::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}

.overflow::-webkit-scrollbar-thumb {
  background: var(--Primitive-400);
  border-radius: 100vh;
  border: none;
  border-radius: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input::placeholder {
  color: var(--Primitive-600);
}
.rts___tabs___container {
  padding: 0 !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}
.slick-slide div {
  height: 100%;
  width: 100%;
}
.formPttern {
  background-color: var(--Base-White);
  background-image: radial-gradient(var(--Blue-100) 5%, transparent 5%);
  background-size: 20px 20px;
}
.sectionPattern {
  background-image: radial-gradient(var(--Primitive-200) 5%, transparent 5%);
  background-size: 20px 20px;
  background-color: var(--Primitive-50);
}
.highlight {
  color: var(--Blue-600);
  font-weight: 500;
}
.medium {
  font-weight: 500;
}
.outletPadding {
  padding: 24px 32px;
}
/* FaArrowRight */
.token {
  color: #db2a79;
}
.playgroundContainer {
  max-width: 640px;
  width: 90%;
  margin: 0 auto;
}
