.tokenContainer {
  gap: 16px;
  border-radius: 8px;
  border-bottom: 1px solid var(--Primitive-100);
  background: var(--Base-White);
  padding: 8px 12px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.tokenInfo {
  display: flex;
  flex-direction: column;
  background: var(--Base-White);

  overflow: hidden;

  min-width: 0;
}
.token {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-style: normal;
}
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto;
}
.deleteIcon {
  max-width: 16px;
  width: 100%;
  display: block;
}
