.cardContainer {
  gap: 16px;
  border-radius: 8px;
  border-bottom: 1px solid var(--Primitive-100);
  background: var(--Base-White);
  padding: 8px 12px;
  display: grid;
  grid-template-columns: 1fr auto;

  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.logoAndName {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo {
  max-width: 30px;
  width: 100%;
}
.cardHolderAndCardNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  gap: 6px 12px;
  width: 100%;
}
.cardHolder {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-style: normal;
}
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto;
}
.deleteIcon {
  max-width: 16px;
  width: 100%;
  display: block;
}
.actionButton {
  color: var(--Primitive-500);

  background: var(--Primitive-50);
}
