.wrapper {
  background-color: var(--Base-White);
  background-image: radial-gradient(var(--Primitive-200) 8%, transparent 8%);
  background-size: 20px 20px;
  background-attachment: fixed;
  width: 100%;
}
